<!DOCTYPE HTML>
<html>
	<head>
		<title>Donat Udvari</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<header id="header">
									<h1><a href="index.html" id="logo">Udvari Donat's page</a></h1>
									<nav id="nav">
										<a href="index.html" class="current-page-item">Homepage</a>
										<a href="gameOfLife.html">Game of Life</a>
										<a href="coreWar.html">Core War</a>
									</nav>
								</header>

							</div>
						</div>
					</div>
				</div>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">

						<div id="banner">
							<h2>Python Flask app with some hobby project</h2>
							<span>Game of life and Core War</span>
						</div>

					</div>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-4 col-6-medium col-12-small">

								<section>
									<h2>Who am I?</h2>
									<ul class="small-image-list">
										<li>
											<a href="#"><img src="static/pic2.jpg" alt="" class="left" /></a>
											<h4>Donát Udvari</h4>
											<p>Software Enginere (Java/Kotlin) with some Python interest</p>
										</li>
									</ul>
								</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<section>
									<h2>How about some links?</h2>
									<div>
										<div class="row">
											<div class="col-6 col-12-small">
												<ul class="link-list">
													<li><a href="https://github.com/udvarid/myFlaskApp">Github link of this project</a></li>
												</ul>
												<ul class="link-list">
													<li><a href="https://www.linkedin.com/in/udvaridonat/">Linkedin profile</a></li>
												</ul>
											</div>
										</div>
									</div>
								</section>

							</div>

						</div>
					</div>
				</div>		
				

		</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>